<!-- LATEST VIDEOS -->
<div class="container mt-3"></div>

<!-- TREKKING CATEGORY -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-xl-4 col-sm-12">
      <h6 class="mb-2 font-weight-bold">Treks By Season</h6>
      <ul>
        <li><a [routerLink]="['/spring-season']">Spring</a></li>
        <li><a [routerLink]="['/summer-season']">Summer</a></li>
        <li><a [routerLink]="['/monsoon-season']">Monsoon</a></li>
        <li><a [routerLink]="['/autumn-season']">Autumn</a></li>
        <li><a [routerLink]="['/winter-season']">Winter</a></li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-4 col-xl-4 col-sm-12">
      <h6 class="mb-2 font-weight-bold">Treks By Difficulty</h6>
      <ul>
        <li><a [routerLink]="['/easy-moderate-trek']">Easy-Moderate</a></li>
        <li><a [routerLink]="['/moderate-trek']">Moderate</a></li>
        <li>
          <a [routerLink]="['/moderate-difficult-trek']">Moderate-Difficult</a>
        </li>
        <li><a [routerLink]="['/difficult-trek']">Difficult</a></li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-4 col-xl-4 col-sm-12">
      <h6 class="mb-2 font-weight-bold">Trek By Month</h6>
      <div class="row">
        <div class="list">
          <ul>
            <li><a [routerLink]="['/jan-trek']">Jan</a></li>
            <li><a [routerLink]="['/feb-trek']">Feb</a></li>
            <li><a [routerLink]="['/mar-trek']">Mar</a></li>
            <li><a [routerLink]="['/apr-trek']">April</a></li>
            <li><a [routerLink]="['/may-trek']">May</a></li>
            <li><a [routerLink]="['/jun-trek']">June</a></li>
          </ul>
        </div>
        <div class="list">
          <ul>
            <li><a [routerLink]="['/jul-trek']">Jul</a></li>
            <li><a [routerLink]="['/aug-trek']">Aug</a></li>
            <li><a [routerLink]="['/sep-trek']">Sep</a></li>
            <li><a [routerLink]="['/oct-trek']">Oct</a></li>
            <li><a [routerLink]="['/nov-trek']">Nov</a></li>
            <li><a [routerLink]="['/dec-trek']">Dec</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
