<div class="section section-buttons pb-5 pt-4">
  <div class="container">
    <div class="tim-title text-center">
      <h2>Book Bullet, Bike & Scooty on Rent in Dehradun</h2>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-7 col-xl-7">
        <p style="text-align: justify">
          <b>Travellers Tribe</b> Adventure Club provides you the
          <b>best bike rental services</b>
          near me in Dehradun Region. We never compromise with our customers’
          safety & hence present complementary services also while renting them
          the vehicle. Placed in the main area of Dehradun, it becomes easy for
          us to provide you with your favorite bike for traveling anyplace. We
          provide bikes on rent on a daily basis or week to week basis. Our
          prices are so affordable that you will always choose us for taking a
          bike/Scooty on rent. There are a variety of bikes available on rent
          which can be booked 24*7, 365 days. Our preference is to provide
          complete safety measures to our customers. We also provide helmet &
          official papers of the particular bike. For any technical issue, we
          are always there with you with our experienced technicians who can
          help you even in a short period of time. Therefore, if planning to
          visit any nearby destination & want to travel through bike then there
          is no better option than contact Travellers Tribe Adventure Club Bike
          Rental Service. If you are travelling to Dehradun you cannot miss the
          fun of riding a bike in the lap of mother earth. Hire a bike to visit
          near-by destinations. We are service providers which provides you a
          best and low cost rate bikes with google 5 star reviews. We deliever
          the best service to our customer from start to end of ride of the
          ride. We provide bikes on daily and weekly basis as per the
          requirement with affordable prices. Customer satisfaction is up-most
          importance for us. Well maintained and wide range of bikes are
          available. Search out all Bikes, Bullet and Activa on rent in Dehradun
          at a Reasonable Price with hassle free understanding. Bike on Rent
          like Bullet, Activa, Hyosung, Harley davidson, KTM, Honda Navi,
          Avenger, Fascino, Apache, pulsar collection etc. You can also check
          these bikes online here on our website and book online your favourite
          bike.. So guys if you are in Dehradun confused about from where and
          how to rent a bike then according to us Travellers Tribe bike rental
          would be the best solution.
        </p>
      </div>
      <div class="col-md-12 col-lg-5 col-xl-5">
        <div class="row">
          <div class="col-md-6 text-center p-2">
            <img
              class="svg-size"
              src="assets/img/Icons/user.png"
              alt="Customer"
              loading="lazy"
            />
            <h3 class="heading">1000</h3>
            <h3 class="heading sub-heading">Customer</h3>
          </div>
          <div class="col-md-6 text-center p-2">
            <img
              class="svg-size"
              src="assets/img/Icons/pin.png"
              alt="Location"
              loading="lazy"
            />
            <h3 class="heading">50</h3>
            <h3 class="heading sub-heading">Location</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 text-center">
            <img
              class="bike"
              src="assets/img/Icons/motorbike.png"
              alt="Bike"
              loading="lazy"
            />
            <h3 class="heading">65</h3>
            <h3 class="heading sub-heading">Bike And Scooty</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
