<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/antoine-barres.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h2 class="presentation-title">Travellers Tribe</h2>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" loading="lazy" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" loading="lazy" />
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">
          Travellers Tribe demands no introduction. As the name suggests, it is
          basically an adventure club for all the people who are passionate
          about traveling, fun, and adventure.
        </h2>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-danger mr-3">
          Upcoming Tours
        </button>
        <button type="button" class="btn btn-warning">Rentals</button>
      </div>
    </div>
    <!-- <div
      class="moving-clouds"
      style="background-image: url('assets/img/clouds.png')"
    ></div> -->
  </div>
  <div class="main">
    <app-navigation></app-navigation>
    <app-basicelements></app-basicelements>
    <app-typography></app-typography>
    <app-notification></app-notification>
    <div class="section" id="carousel">
      <div class="container">
        <div class="tim-title text-center">
          <h3>Tours</h3>
        </div>
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img
                    src="./assets/img/soroush-karimi.jpg"
                    alt="Random first slide"
                    loading="lazy"
                  />
                  <div class="carousel-caption">
                    <p>Somewhere</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="./assets/img/federico-beccari.jpg"
                    alt="Random second slide"
                    loading="lazy"
                  />
                  <div class="carousel-caption">
                    <p>Somewhere else</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img
                    src="./assets/img/joshua-stannard.jpg"
                    alt="Random third slide"
                    loading="lazy"
                  />
                  <div class="carousel-caption">
                    <p>Here it is</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark section-nucleo-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <h2 class="title">Nucleo Icons</h2>
            <br />
            <p class="description">
              Now UI Kit comes with 100 custom icons made by our friends from
              NucleoApp. The official package contains over 2.100 thin icons
              which are looking great in combination with Now UI Kit Make sure
              you check all of them and use those that you like the most.
            </p>
            <br />
            <a [routerLink]="['/nucleoicons']" class="btn btn-danger btn-round"
              >View Demo Icons</a
            >
            <a
              href="https://nucleoapp.com/?ref=1712"
              class="btn btn-outline-danger btn-round"
              target="_blank"
              >View All Icons</a
            >
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="icons-container">
              <i class="nc-icon nc-time-alarm"></i>
              <i class="nc-icon nc-atom"></i>
              <i class="nc-icon nc-camera-compact"></i>
              <i class="nc-icon nc-watch-time"></i>
              <i class="nc-icon nc-key-25"></i>
              <i class="nc-icon nc-diamond"></i>
              <i class="nc-icon nc-user-run"></i>
              <i class="nc-icon nc-layout-11"></i>
              <i class="nc-icon nc-badge"></i>
              <i class="nc-icon nc-bulb-63"></i>
              <i class="nc-icon nc-favourite-28"></i>
              <i class="nc-icon nc-planet"></i>
              <i class="nc-icon nc-tie-bow"></i>
              <i class="nc-icon nc-zoom-split"></i>
              <i class="nc-icon nc-cloud-download-93"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">Completed with examples</h2>
            <p class="description">
              The kit comes with three pre-built pages to help you get started
              faster. You can change the text and images and you're good to go.
              More importantly, looking at them will give you a picture of what
              you can built with this powerful kit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section section-image section-login"
      style="background-image: url('assets/img/login-image.jpg')"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
            <div class="card card-register">
              <h3 class="title">Welcome</h3>
              <div class="social-line text-center">
                <a
                  href="#pablo"
                  class="btn btn-neutral btn-facebook btn-just-icon"
                >
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-neutral btn-google btn-just-icon"
                >
                  <i class="fa fa-google-plus"></i>
                </a>
                <a
                  href="#pablo"
                  class="btn btn-neutral btn-twitter btn-just-icon"
                >
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <form class="register-form">
                <label>Email</label>
                <div
                  class="input-group form-group-no-border"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i>
                    </span>
                  </div>

                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    (focus)="focus = true"
                    (blur)="focus = false"
                  />
                </div>

                <label>Password</label>
                <div
                  class="input-group form-group-no-border"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Password"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />
                </div>
                <button class="btn btn-danger btn-block btn-round">
                  Register
                </button>
              </form>
              <div class="forgot">
                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
              </div>
            </div>
            <div class="col text-center" routerLinkActive="active">
              <a
                [routerLink]="['/signup']"
                class="btn btn-outline-neutral btn-round btn-lg"
                >View Register Page</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-dark">
      <div class="container">
        <div class="row example-page">
          <div class="col-md-6 text-center" routerLinkActive="active">
            <a [routerLink]="['/landing']">
              <img
                src="./assets/img/examples/landing-page.JPG"
                alt="Rounded Image"
                class="img-rounded img-responsive"
                style="width: 100%"
                loading="lazy"
              />
              <a
                [routerLink]="['/landing']"
                class="btn btn-outline-neutral btn-round"
                >Landing Page</a
              >
            </a>
          </div>

          <div class="col-md-6 text-center" routerLinkActive="active">
            <a [routerLink]="['/user-profile']">
              <img
                src="./assets/img/examples/profile-page.JPG"
                alt="Rounded Image"
                class="img-rounded img-responsive"
                style="width: 100%"
                loading="lazy"
              />
              <a
                [routerLink]="['/user-profile']"
                class="btn btn-outline-neutral btn-round"
                >Profile Page</a
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
