<div class="container">
  <div class="text-center pb-4">
    <h3 class="font-weight-bold">Rentals</h3>
    <hr class="hr-warning" />
  </div>
  <!-- BIKES AND SCOOTY SECTION -->
  <div class="mb-3 mt-0">
    <hr
      class="hr-text font-weight-bold pb-6 m-0"
      data-content="Bikes And Scooty"
    />
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/img/classic350.jpg"
          alt="Card image cap"
          loading="lazy"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">ROYAL ENFIELD CLASSIC 350</h5>
          <p class="card-text">Rs 1100/day</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/img/apache4v.jpg"
          alt="Card image cap"
          loading="lazy"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">TVS APACHE 4V</h5>
          <p class="card-text">Rs 800/day</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/img/activa125.png"
          alt="Card image cap"
          loading="lazy"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">HONDA ACTIVA 125</h5>
          <p class="card-text">Rs 600/day</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  </div>

  <!-- TENT AND SLEEPING BAGS SECTION -->
  <div class="mb-3 mt-0">
    <hr
      class="hr-text font-weight-bold pb-6 m-0"
      data-content="Tent And Sleeping Bag"
    />
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/img/tent2.avif"
          alt="Card image cap"
          loading="lazy"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Tent 2 Person</h5>
          <p class="card-text">Rs 200/day</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/img/tent3.jpg"
          alt="Card image cap"
          loading="lazy"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Tent 3 Person</h5>
          <p class="card-text">Rs 300/day</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="./assets/img/sBag.avif"
          alt="Card image cap"
          loading="lazy"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Sleeping Bag</h5>
          <p class="card-text">Rs 110/day</p>
          <a href="#" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
