<div class="section section-navbars pb-0">
  <!-- TREKKING NEWS SECTION START -->
  <div class="container">
    <div class="tim-title text-center">
      <h3 class="font-weight-bold">Best Treks to do in Jan and Feb</h3>
      <hr class="hr-warning" />
    </div>
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img
                class="card-img-top"
                src="./assets/img/Kedarkantha.jpg"
                alt="kedarkantha Image"
                loading="lazy"
              />
              <div class="card-body">
                <h4 class="card-title font-weight-bold">Kedarkantha Trek</h4>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <div class="text-center mt-3 mb-3">
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                class="card-img-top"
                src="./assets/img/rudranath.jpg"
                alt="Rudranath Image"
                loading="lazy"
              />
              <div class="card-body">
                <h4 class="card-title font-weight-bold">Rudranath Trek</h4>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <div class="text-center mt-3 mb-3">
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                class="card-img-top"
                src="./assets/img/dayara_bugyal.jpg"
                alt="Dayara Bugyal Image"
                loading="lazy"
              />
              <div class="card-body">
                <h4 class="card-title font-weight-bold">Dayara Bugyal Trek</h4>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <div class="text-center mt-3 mb-3">
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
    <!-- TREKKING NEWS SECTION END -->

    <!-- FAQ SECTION START -->
    <div class="container bg-light pt-1 pb-4 mt-4">
      <div class="tim-title text-center">
        <h3 class="font-weight-normal">Frequently Asked Questions</h3>
        <hr class="hr-warning" />
      </div>
      <div class="row">
        <div class="col-md-6 d-flex align-items-center flex-column mb-2">
          <p class="font-weight-bold border border-dark para">
            Which are the best trek to do in winters?
            <span class="plus" (click)="showAnswer('question1')"> +</span>
          </p>
          <div *ngIf="showParagraph1" class="card">
            <div class="card-body">
              <p>
                Winter is among the best seasons to experience snow on treks. To
                experience maximum snow, higher chances of snowfall and least
                crowds, choose Jan, Feb or March to do any of the treks below.
                Winter lasts all the way till mid-March.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center flex-column mb-2">
          <p class="font-weight-bold border border-dark para">
            Which are the best trek to do in winters?
            <span class="plus" (click)="showAnswer('question2')"> +</span>
          </p>
          <div *ngIf="showParagraph2" class="card">
            <div class="card-body">
              <p>
                Winter is among the best seasons to experience snow on treks. To
                experience maximum snow, higher chances of snowfall and least
                crowds, choose Jan, Feb or March to do any of the treks below.
                Winter lasts all the way till mid-March.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 d-flex align-items-center flex-column mb-2">
          <p class="font-weight-bold border border-dark para">
            Which are the best trek to do in winters?
            <span class="plus" (click)="showAnswer('question3')"> +</span>
          </p>
          <div *ngIf="showParagraph3" class="card">
            <div class="card-body">
              <p>
                Winter is among the best seasons to experience snow on treks. To
                experience maximum snow, higher chances of snowfall and least
                crowds, choose Jan, Feb or March to do any of the treks below.
                Winter lasts all the way till mid-March.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center flex-column mb-2">
          <p class="font-weight-bold border border-dark para">
            Which are the best trek to do in winters?
            <span class="plus" (click)="showAnswer('question4')"> +</span>
          </p>
          <div *ngIf="showParagraph4" class="card">
            <div class="card-body">
              <p>
                Winter is among the best seasons to experience snow on treks. To
                experience maximum snow, higher chances of snowfall and least
                crowds, choose Jan, Feb or March to do any of the treks below.
                Winter lasts all the way till mid-March.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center flex-column mt-3">
        <button class="btn btn-warning">More FAQ</button>
      </div>
    </div>
    <!-- FAQ SECTION END -->
  </div>

  <!-- Why Choose Us Section START-->
  <div class="container">
    <div class="tim-title text-center p-0">
      <h3 class="font-weight-bold">Why Choose Travellers Tribe</h3>
      <hr class="hr-warning" />
    </div>
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <div class="card-title text-center m-0">
                <h4 class="card-title font-weight-bold">
                  A Team That Will Keep You Safe
                </h4>
              </div>
              <div class="card-body text-center m-0">
                <p style="text-align: justify" class="card-text">
                  For years, we have innovated and set safety standards in the
                  trekking industry. Our people, processes and equipment make
                  Travellers Tribe the safest trekking organisation in India.
                </p>
                <a href="#" class="btn btn-primary mb-3 mt-2">View Details</a>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-title text-center">
                <h4 class="card-title font-weight-bold">
                  Treks That Transform
                </h4>
              </div>
              <div class="card-body text-center">
                <p style="text-align: justify" class="card-text">
                  Trekkers often call The Indiahikes Experience “life-changing.”
                  This is because through our treks, we consciously bring about
                  a transformative impact on your mind, body and spirit.
                </p>
                <a href="#" class="btn btn-primary mb-3 mt-2">View Details</a>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="card-title text-center">
                <h4 class="card-title font-weight-bold">
                  Treks That Make You Independent
                </h4>
              </div>
              <div class="card-body text-center">
                <p style="text-align: justify" class="card-text">
                  Not every time you trek will you have Indiahikes next to you.
                  Over 1,000 articles and videos give you all the information to
                  trek DIY. On our treks, you learn skills that teach you to
                  trek independently.
                </p>
                <a href="#" class="btn btn-primary mb-3 mt-2">View Details</a>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
    <!-- Why Choose Us Section END -->
  </div>
</div>
